*  {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-image:
    url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    width: 350px;
    transform: translate(-50%, -50%);
    right: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    color: #fff;
}
.login-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.login-form p{
    font-size: 20px;
    margin: 15px 0;
}
.login-form input {
    font-size: 16px;
    width:100%;
    border: 0;
    padding: 15px 10px;
    outline: none;
    border-radius: 10px;
}
.login-form button {
font-size: 20px;
font-weight: bold;
margin: 20px 0;
padding: 10px 15px;
width: 50%;
border-radius: 5px;
border: 0;
}
